body {
    text-align: center;
    font-family: "Arial";
    background-color: #131313;
    color: #ffffffff;
}

.title {
    font-size: 300%; 
    margin: 0px;
    margin-top: 30px
}
.subtitle {
    margin: 25px;
}

.sog {
    border-radius: 10px;
    width: 320px;
    height: 240px;
    margin: 10px;
}

#soggies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    margin: 20px;
    color: #77787a;
}